html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-dialog-surface {
    box-shadow: none !important;
    background-color: transparent !important;
}
@import './assets/css/fontawesome.min.css';
@import './assets/css/bootstrap.min.css';